<ion-header>
	<ion-navbar color="one">
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding center text-center>
  <h1>Hello A.G.Achudh Krishna and Logeswar!</h1>
	<h2>Welcome to your application: fRESHsTOCK</h2>
<ion-list>
  <ion-item>
    <ion-input placeholder="UserName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Password"></ion-input>
  </ion-item>
</ion-list>
<button ion-button full>Log In</button>
  <p>
    Your application description is: "FARM TO HOME!"
  </p>
</ion-content>
